<!DOCTYPE html>
<html >
  <head>
    <meta charset="UTF-8">
    <title>Demo</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    
    <link rel='stylesheet prefetch' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css'>

    <!-- experimental stuff -->
    <!-- <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/jquery.slick/1.6.0/slick.css"/> -->
    <!-- <link rel="stylesheet" type="text/css" href="https://rawgit.com/peachananr/onepage-scroll/master/onepage-scroll.css"/> -->


    <link rel="stylesheet" href="css/style.css">
  </head>

  <body>
    <div class="view videos">
      <div class="topBar">
        <div class="nav-tab selected">
          featured
        </div><div class="nav-tab">
          follow
        </div>
      </div>
      <div class="videos-container">
        <!-- filled by template -->
      </div>
      
    </div>
    <div class="bottomBar">
      <div class="nav-tab home selected">
        <i class="fa fa-home" aria-hidden="true"></i>
      </div>
      <div class="nav-tab search">
        <i class="fa fa-search" aria-hidden="true"></i>
      </div>
      <div class="nav-tab add">
        <div class="add-inner">
          <i class="fa fa-plus" aria-hidden="true"></i>
        </div>
      </div>
      <div class="nav-tab notifications">
        <i class="fa fa-bolt" aria-hidden="true"></i>
      </div>
      <div class="nav-tab profile">
        <i class="fa fa-user" aria-hidden="true"></i>
      </div>
    </div>

    <!-- template -->
    <script type="text/html" id="tmplt_item">
      <div class="item">
        <div class="infoArea">
          <div class="badges">
            <% _.each(badges, function(badge) { %> 
              <div class="badge <%= badge %>">
                <%= badge %>
              </div>
            <% }); %>
          </div>
          <div class="username">
            @<%= user.name %>
          </div>
          <div class="description">
            <%= description %>
          </div>
          <div class="songName">
            <i class="fa fa-music" aria-hidden="true"></i>
            <%= song.name %> - <%= song.artist %>
          </div>
        </div>

        <div class="sideBar">
          <div class="btn btnAvatar">
            <img src="<%= user.avatar %>"/>
          </div>
          <div class="count countLikes">
            <%= numeral(likesCount).format('0.0a') %>
          </div>
          <div class="btn btnLike <%= isLiked ? 'liked' : '' %>">
            <i class="fa fa-heart" aria-hidden="true"></i>
          </div>
          <div class="count countComments">
            <%= numeral(commentsCount).format('0.0a') %>
          </div>
          <div class="btn btnComment">
            <i class="fa fa-commenting" aria-hidden="true"></i>
          </div>
          <div class="btn btnMenu">
            <i class="fa fa-ellipsis-h" aria-hidden="true"></i>
          </div>
          <div class="btn btnSong">
            <img src="<%= song.art %>"/>
          </div>
        </div>

        
        <!--  Video is muted & autoplays, placed after major DOM elements for performance & has an image fallback  -->
        <video _autoplay poster="<%= video.poster %>" class="bgvid" loop>
          <% if ('webm' in video) {%>
            <source src="<%= video.webm %>" type="video/webm">
          <% } %>
          <% if ('mp4' in video) {%>
            <source src="<%= video.mp4 %>" type="video/mp4">
          <% } %>
        </video>
      </div>
    </script>


    <script src='https://code.jquery.com/jquery-2.2.4.min.js'></script>
    <script src='https://cdn.jsdelivr.net/lodash/4.13.1/lodash.min.js'></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/numeral.js/1.4.5/numeral.min.js"></script>

    <!-- experimental stuff -->
    <!-- <script type="text/javascript" src="//cdn.jsdelivr.net/jquery.slick/1.6.0/slick.min.js"></script> -->
    <!-- <script src="https://rawgit.com/peachananr/onepage-scroll/master/jquery.onepage-scroll.js"></script> -->
    <script src="https://rawgit.com/lukehaas/Scrollify/master/jquery.scrollify.js"></script>

    <script src="js/index.js"></script>
  </body>
  </html>
  